#background-image {
    height: /*100%*/ 1200px;
    /*background-image: url("../images/temp-image.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px); */
}