.backgroundImage {
  min-height: 100vh;
  max-width: 90em;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.title {
  margin: 0;
  padding-top: 3em;
  text-align: center;
  font-size: 5em;
  color: #fff;
}

.text {
  color: #fff;
  text-align: center;
  font-size: 2em;
}
